<!-- 
<router-outlet></router-outlet> -->

 <mat-toolbar color="primary">


    <mat-toolbar-row>
        <span>
            <mat-icon lass="example-icon" aria-hidden="false" aria-label="Example heart icon"> linear_scale</mat-icon> Planner</span>
        <span class="example-spacer"></span>
        <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">favorite</mat-icon>
        <mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">share</mat-icon>
    </mat-toolbar-row>
</mat-toolbar>
<!-- <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <form class="form-inline" >
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">@</span>
            </div>
            <input type="text" class="form-control" placeholder="Username">
          </div> 
        </form>
      </nav> -->


<div class="container-fluid">
        
        <div >
          <!-- Control the column width, and how they should appear on different devices -->
          <div class="row">
            <div class="col-sm-2" >
               
                    <!--Card image-->
                   
                    Html Elements Panel
                    
                  
                 </div>
            <div class="col-sm-10" >
               

                   
                    <!--Card content-->
                    <div class="card-body">
                      <!--Title-->
                      <h4 class="card-title">Dynamic title</h4>

                      <dynamic-form [fields]="regConfig" (submit)="submit($event)">
                        </dynamic-form>
                        <!-- <div class="margin-top">
                            {{ form.value | json }}
                        </div> -->

                   
                    </div>
                  
                 </div>
          </div>
       
          
          
        </div>
      </div>
      
<!-- <mat-grid-list cols="4" rowHeight="100px">
    <mat-grid-tile [colspan]="1" [rowspan]="3"> <div class="form">

        
    </div></mat-grid-tile>
    <mat-grid-tile [colspan]="3" [rowspan]="3">
        <div class="form">
            <div style="text-align:center">

            </div>
            <dynamic-form [fields]="regConfig" (submit)="submit($event)">
            </dynamic-form>
            <div class="margin-top">
                {{ form.value | json }}
            </div>
        </div>
    </mat-grid-tile>

</mat-grid-list> -->
<!-- <mat-grid-list cols="4" rowHeight="100px">
            <mat-grid-tile
               
                [colspan]="1"
                [rowspan]="3"
                [style.background]="lightgreen">
              
            </mat-grid-tile>

            <mat-grid-tile
            
            colspan="3"
            rowspan="3"
            >
          
        </mat-grid-tile>
          </mat-grid-list> -->