<!-- 
<router-outlet></router-outlet> -->

<mat-toolbar color="primary">


    <mat-toolbar-row>
        <span>
            <mat-icon lass="example-icon" aria-hidden="false" aria-label="Example heart icon"> linear_scale</mat-icon> Planner</span>
        <span class="example-spacer"></span>
        <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">favorite</mat-icon>
        <mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">share</mat-icon>
    </mat-toolbar-row>
</mat-toolbar>
<!-- <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <form class="form-inline" >
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">@</span>
            </div>
            <input type="text" class="form-control" placeholder="Username">
          </div> 
        </form>
      </nav> -->


<div class="container-fluid">

    <div>
        <!-- Control the column width, and how they should appear on different devices -->
        <div class="row">
            <div class="col-sm-4">

                <!--Card image-->

                <br>

                <div class="example-container">


                    <div cdkDropList #todoList="cdkDropList" [cdkDropListData]="todo" [cdkDropListConnectedTo]="[doneList]" class="example-list"
                        (cdkDropListDropped)="drop($event)">
                        <div class="example-box" *ngFor="let item of todo" cdkDrag>{{item}}</div>
                    </div>
                </div>





            </div>

            <div class="col-sm-4">



                <br>



                <div class="example-container">


                    <div cdkDropList #doneList="cdkDropList" [cdkDropListData]="done" [cdkDropListConnectedTo]="[todoList]" class="example-list"
                        (cdkDropListDropped)="drop($event)">
                        <div class="example-box" *ngFor="let item of done" cdkDrag>{{item}}</div>
                    </div>
                </div>






            </div>
            <div class="col-sm-3">



                <!--Card content-->
                <div class="card-body">
                    <!--Title-->
                    <h4 class="card-title">Preview</h4>

                    <dynamic-form [fields]="regConfig" (submit)="submit($event)">
                    </dynamic-form>
                    <!-- <div class="margin-top">
                            {{ form.value | json }}
                        </div> -->


                </div>

            </div>
        </div>



    </div>
</div>


<!-- <mat-grid-list cols="4" rowHeight="100px">
    <mat-grid-tile [colspan]="1" [rowspan]="3"> <div class="form">

        
    </div></mat-grid-tile>
    <mat-grid-tile [colspan]="3" [rowspan]="3">
        <div class="form">
            <div style="text-align:center">

            </div>
            <dynamic-form [fields]="regConfig" (submit)="submit($event)">
            </dynamic-form>
            <div class="margin-top">
                {{ form.value | json }}
            </div>
        </div>
    </mat-grid-tile>

</mat-grid-list> -->
<!-- <mat-grid-list cols="4" rowHeight="100px">
            <mat-grid-tile
               
                [colspan]="1"
                [rowspan]="3"
                [style.background]="lightgreen">
              
            </mat-grid-tile>

            <mat-grid-tile
            
            colspan="3"
            rowspan="3"
            >
          
        </mat-grid-tile>
          </mat-grid-list> -->